nav {
  padding: 12px 5%;

  .form-inline {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: start;

    input {
      margin-right: 10px;
    }
  }
}

.container-fluid {
  padding: 12px 10%;
}
